table.fixed {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.component, .env {
    white-space: normal;
    width: 38px;
}

td.component {
    background: #e8edff;
}

th {
    font-size: 14px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    padding: 8px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

td {
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    padding: 5px 1px;
    font-size: 12px
}

th, td {
    width: 25px;
    margin: 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}

.blank {
    border: 0;
    background: white;
}

tfoot td {
    font-size: 12px;
    background: #b9c9fe;
    /*color: #039;*/
    padding: 8px;
}

.event {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: lightgray;
}

td.name {
    background: #b9c9fe;
}

.borderRight { border-right: 1px solid black; }

.unknownVersion { background: yellow; }
.internal { background-color: moccasin; }
.external { background: yellowgreen; }
.sca { background: burlywood; }
.maintenance { background: lightpink; }